{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="/test/handle/">
        <input type="hidden" name="id" value="{{ test.id }}">
        {% for key, question in test.questions %}
            <div>
                {{ key + 1 }}) <label for="answer">{{ question.title }}</label>
                {% for answer in question.answers %}
                    <div>
                        <input id="answer" name="{{ question.id }}[]" value="{{ answer.id }}" type="checkbox"> {{ answer.title }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div>
            Не обнаружено вопросов.
        </div>
        {% endfor %}

        <button type="submit">Отправить</button>
    </form>
{% endblock %}